In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# from the above codes it clearly shows that the driver has been successfully mounted in google colab using the first shell code.
# os.listdir is used see what's inside the folder and using the second shell code we got the file name inside the folder.

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis/pulse')

['.gitignore', 'README.md', 'LICENSE', 'data', '.git']

In [ ]:
# we got what's inside the pulse folder. So, it clearly shows that we have successfully cloned and saved the data in google drive without any error.

In [ ]:
# now we're going to explore the data. what's inside the phonePe data.

In [ ]:
base_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data'
os.listdir(base_path)

['top', 'map', 'aggregated']

In [ ]:
import json
import numpy as np
import pandas as pd

# we are now opening one json file to understand the structure of data.
sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/aggregated/transaction/country/india/2022/1.json'

with open(sample_path,'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'from': 1640975400000,
  'to': 1648405800000,
  'transactionData': [{'name': 'Merchant payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 3748851071,
      'amount': 2272818129376.5205}]},
   {'name': 'Peer-to-peer payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 3074250150,
      'amount': 10505936803336.926}]},
   {'name': 'Recharge & bill payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 749674246,
      'amount': 447599848131.41187}]},
   {'name': 'Financial Services',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 4035100,
      'amount': 4921211866.489969}]},
   {'name': 'Others',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 16393502,
      'amount': 8422766458.459174}]}]},
 'responseTimestamp': 1651127570915}

In [ ]:
# we have looked into the above json file. Now, we have to create the dataframe because sql, streamlit everything needs tables for the execution.

In [ ]:
# Now we're going to create the table using panda Dataframe. To convert the json file or dictionary into panda Dataframe.

In [ ]:
result = []

year = 2022
quarter = 'Q1'

for transaction_1 in data['data']['transactionData']:
  category = transaction_1['name']
  count = transaction_1['paymentInstruments'][0]['count']
  amount = transaction_1['paymentInstruments'][0]['amount']

  result.append({
      'year' : year,
      'quarter' : quarter,
      'category' : category,
      'count' : count,
      'amount' : amount
  })

df = pd.DataFrame(result)
df

   year quarter                  category       count        amount
0  2022      Q1         Merchant payments  3748851071  2.272818e+12
1  2022      Q1     Peer-to-peer payments  3074250150  1.050594e+13
2  2022      Q1  Recharge & bill payments   749674246  4.475998e+11
3  2022      Q1        Financial Services     4035100  4.921212e+09
4  2022      Q1                    Others    16393502  8.422766e+09

In [ ]:
base_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/aggregated/transaction/country/india'
os.listdir(base_path)

['state', '2024', '2023', '2021', '2022', '2020', '2018', '2019']

In [ ]:
records = []

for year in os.listdir(base_path):
  year_path = os.path.join(base_path,year)

  if not os.path.isdir(year_path):
    continue

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

      file_path = os.path.join(year_path,file)

      with open(file_path,'r') as f:
        data = json.load(f)

      for transaction in data['data']['transactionData']:
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'transaction_category' : transaction['name'],
            'transaction_count' : transaction['paymentInstruments'][0]['count'],
            'transaction_amount' : transaction['paymentInstruments'][0]['amount']

        })

df_aggregated_transaction = pd.DataFrame(records)
df_aggregated_transaction.head()

,year,quarter,transaction_category,transaction_count,transaction_amount
0,2024,Q4,Merchant payments,17419191808,8.081430e+12
1,2024,Q4,Peer-to-peer payments,9368204284,2.663387e+13
2,2024,Q4,Recharge & bill payments,1392529171,1.255973e+12
3,2024,Q4,Financial Services,32113340,1.816233e+10
4,2024,Q4,Others,7217236,9.369386e+09

In [ ]:
df_aggregated_transaction.shape

(140, 5)

In [ ]:
df_aggregated_transaction['year'].unique()

array([2024, 2023, 2021, 2022, 2020, 2018, 2019])

In [ ]:
df_aggregated_transaction['quarter'].unique()

array(['Q4', 'Q1', 'Q2', 'Q3'], dtype=object)

In [ ]:
csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/aggregated_transaction.csv'
df_aggregated_transaction.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/aggregated/user/country/india/2022/1.json'

with open(sample_path,'r') as f:
  data1 = json.load(f)

data1

{'success': True,
 'code': 'SUCCESS',
 'data': {'aggregated': {'registeredUsers': 372951831,
   'appOpens': 15724195113},
  'usersByDevice': [{'brand': 'Xiaomi',
    'count': 88426997,
    'percentage': 0.2371003160459078},
   {'brand': 'Vivo', 'count': 77224616, 'percentage': 0.20706324404665546},
   {'brand': 'Samsung', 'count': 65886728, 'percentage': 0.17666283558211032},
   {'brand': 'Oppo', 'count': 49093857, 'percentage': 0.13163591895597906},
   {'brand': 'Realme', 'count': 32685615, 'percentage': 0.08764031245632897},
   {'brand': 'Apple', 'count': 10780434, 'percentage': 0.028905700693556857},
   {'brand': 'OnePlus', 'count': 7974546, 'percentage': 0.021382241182776228},
   {'brand': 'Motorola', 'count': 5610140, 'percentage': 0.015042532396093801},
   {'brand': 'Huawei', 'count': 4882972, 'percentage': 0.013092768540396307},
   {'brand': 'Tecno', 'count': 4550078, 'percentage': 0.012200176059733569},
   {'brand': 'Others', 'count': 25835848, 'percentage': 0.06927395404046159}]},
 'responseTimestamp': 1651127632781}

In [ ]:
base_path1 ='/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/aggregated/user/country/india'
os.listdir(base_path1)

['state', '2024', '2022', '2019', '2018', '2021', '2023', '2020']

In [ ]:
records = []

for year in os.listdir(base_path1):
  year_path = os.path.join(base_path1,year)

  if not os.path.isdir(year_path):
    continue


  for file in os.listdir(year_path):
    if file.endswith('.json'):
        quarter = 'Q'+ file.replace('.json','')

        file_path = os.path.join(year_path,file)

        with open(file_path,'r') as f:
          data = json.load(f)

        records.append({
              'year' : int(year),
              'quarter' : quarter,
              'registeredUsers' : data['data']['aggregated']['registeredUsers'],
              'appOpens' : data['data']['aggregated']['appOpens']
          })

df_aggregated_user = pd.DataFrame(records)
df_aggregated_user.head()

   year quarter  registeredUsers     appOpens
0  2024      Q2        550287982  35407900260
1  2024      Q3        568010051  38129751823
2  2024      Q4        586756452  40416377679
3  2024      Q1        530084540  32626239822
4  2022      Q1        372951831  15724195113

In [ ]:
df_aggregated_user.shape

(28, 4)

In [ ]:
len(records)

28

In [ ]:
csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/aggregated_user.csv'
df_aggregated_user.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# previously we have made the json file aggregated/ transaction and user into list of dictionaries and converted into dataframe using pandas and saved as an csv file.

# Now we're going to make the json file aggregated/user into list of dictionaries and convert it into dataframe using pandas and save it as an csv file for sql usage.

'''
but we have already made aggregated_user.csv then why again because inside user data we have year wise data year wise and state wise but now don't consider state wise,
because that's an different business case. Inside the year we have quarterly file called 1.json, 2.json, 3.json, 4.json in each year. Inside that we have only extracted
aggregated portion from the user data which is registeredUsers and appOpens. Now we have to extract the userByDevice data from that to analysis the business case studies
based on phone usage and more business studies on phonePe. Here we're primarly targeting the second business case study on the project file.
'''

"\nbut we have already made aggregated_user.csv then why again because inside user data we have year wise data year wise and state wise but now don't consider state wise,\nbecause that's an different business case. Inside the year we have quarterly file called 1.json, 2.json, 3.json, 4.json in each year. Inside that we have only extracted\naggregated portion from the user data which is registeredUsers and appOpens. Now we have to extract the userByDevice data from that to analysis the business case studies\nbased on phone usage and more business studies on phonePe. Here we're primarly targeting the second business case study on the project file.\n"

In [ ]:
# Now we're extracting the userByDevice data:

records = []

for year in os.listdir(base_path1):
  if not year.isdigit():
    continue

  year_path = os.path.join(base_path1,year)

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

      file_path = os.path.join(year_path,file)

      with open(file_path,'r') as f:
        data = json.load(f)

      devices = data['data']['usersByDevice']

      if devices is None:
        continue

      for device in devices:
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'brand' : device['brand'],
            'count' : device['count'],
            'percentage' : device['percentage']
        })


df_user_device = pd.DataFrame(records)
df_user_device.head()

   year quarter    brand     count  percentage
0  2022      Q1   Xiaomi  88426997    0.237100
1  2022      Q1     Vivo  77224616    0.207063
2  2022      Q1  Samsung  65886728    0.176663
3  2022      Q1     Oppo  49093857    0.131636
4  2022      Q1   Realme  32685615    0.087640

In [ ]:
csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/user_device.csv'
df_user_device.to_csv(csv_path, index = False)

In [ ]:
# till now we have completed the aggregated data which contains transaction, user and insurance. we have completed only transaction and user, but we have never touched
# the insurance portion. Now we're going to explore the insurance dataset and store the json file as list dictionary and afterwards convert it into dataframe and
# make it as a CSV file.

In [ ]:
# getting an idea about the aggregated/insurance dataset.

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/aggregated/insurance/country/india/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'from': 1640975400000,
  'to': 1648405800000,
  'transactionData': [{'name': 'Insurance',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 617606,
      'amount': 887447241.0}]}]},
 'responseTimestamp': 1692611156795}

In [ ]:
# Creating the base_path to get the insurance data by year and quarter:

base_path2 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/aggregated/insurance/country/india'
os.listdir(base_path2)

['2020', '2021', '2022', 'state', '2024', '2023']

In [ ]:
# Extracting the whole json file inside insurance and converting it into dataframe and save it as csv:

records = []

for year in os.listdir(base_path2):
  if not year.isdigit():
    continue

  year_path = os.path.join(base_path2,year)

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

      file_path = os.path.join(year_path,file)

      with open(file_path, 'r') as f:
        data = json.load(f)

      for insurance in data['data']['transactionData']:
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'category' : insurance['name'],
            'count' : insurance['paymentInstruments'][0]['count'],
            'amount' : insurance['paymentInstruments'][0]['amount']
        })

df_aggregated_insurance = pd.DataFrame(records)
df_aggregated_insurance.head()

   year quarter   category   count       amount
0  2020      Q3  Insurance  354284   89495076.0
1  2020      Q2  Insurance  185348   33732166.0
2  2020      Q4  Insurance  248626  170979933.0
3  2021      Q4  Insurance  526327  655431877.0
4  2021      Q1  Insurance  318119  206307024.0

In [ ]:
df_aggregated_insurance.shape

(19, 5)

In [ ]:
csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/aggregated_insurance.csv'
df_aggregated_insurance.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# till now we have created the csv file for all aggregated portion. Now, we have to focus on Map and Top data in the dataset.

# In map dataset, we'll split the extraction into two parts.

# The 1st part is to extract the state-level data which is inside year.

# The 2nd part is to extract the district-level data which is inside state. Used for further drill-down.

# and important thing like wise in aggregated we're going to extract the transaction, insurance and user data in Map and Top datasets.

In [ ]:
# Now base_path for Map/transaction:

base_path3 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/transaction/hover/country/india'

In [ ]:
# Get an idea about the Map/transaction file:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/transaction/hover/country/india/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'puducherry',
    'metric': [{'type': 'TOTAL',
      'count': 7359176,
      'amount': 12083474905.386654}]},
   {'name': 'tamil nadu',
    'metric': [{'type': 'TOTAL',
      'count': 294573150,
      'amount': 512789201600.61597}]},
   {'name': 'uttar pradesh',
    'metric': [{'type': 'TOTAL',
      'count': 473953246,
      'amount': 883123174117.039}]},
   {'name': 'madhya pradesh',
    'metric': [{'type': 'TOTAL',
      'count': 472703058,
      'amount': 747665139599.6421}]},
   {'name': 'andhra pradesh',
    'metric': [{'type': 'TOTAL',
      'count': 582603911,
      'amount': 1294320646554.8625}]},
   {'name': 'tripura',
    'metric': [{'type': 'TOTAL',
      'count': 2871190,
      'amount': 6247329764.349836}]},
   {'name': 'lakshadweep',
    'metric': [{'type': 'TOTAL',
      'count': 16397,
      'amount': 54939432.65393007}]},
   {'name': 'manipur',
    'metric': [{'type': 'TOTAL',
      'count': 5313679,
      'amount': 14144501078.373814}]},
   {'name': 'maharashtra',
    'metric': [{'type': 'TOTAL',
      'count': 1169506438,
      'amount': 1681399273981.1614}]},
   {'name': 'dadra & nagar haveli & daman & diu',
    'metric': [{'type': 'TOTAL',
      'count': 4802803,
      'amount': 6237048367.262389}]},
   {'name': 'meghalaya',
    'metric': [{'type': 'TOTAL',
      'count': 1674750,
      'amount': 4662338331.33188}]},
   {'name': 'andaman & nicobar islands',
    'metric': [{'type': 'TOTAL',
      'count': 794748,
      'amount': 2129030202.0751667}]},
   {'name': 'haryana',
    'metric': [{'type': 'TOTAL',
      'count': 191988609,
      'amount': 341304042652.78125}]},
   {'name': 'rajasthan',
    'metric': [{'type': 'TOTAL',
      'count': 564962220,
      'amount': 1022050180980.1362}]},
   {'name': 'ladakh',
    'metric': [{'type': 'TOTAL',
      'count': 630015,
      'amount': 2025040918.8422096}]},
   {'name': 'punjab',
    'metric': [{'type': 'TOTAL',
      'count': 57758302,
      'amount': 118389978105.96233}]},
   {'name': 'assam',
    'metric': [{'type': 'TOTAL',
      'count': 58889886,
      'amount': 132280437892.70251}]},
   {'name': 'jharkhand',
    'metric': [{'type': 'TOTAL',
      'count': 110911210,
      'amount': 194700207087.16907}]},
   {'name': 'odisha',
    'metric': [{'type': 'TOTAL',
      'count': 263633499,
      'amount': 451227311779.7898}]},
   {'name': 'bihar',
    'metric': [{'type': 'TOTAL',
      'count': 284390434,
      'amount': 611411695731.1454}]},
   {'name': 'kerala',
    'metric': [{'type': 'TOTAL',
      'count': 95280965,
      'amount': 139988942464.69464}]},
   {'name': 'karnataka',
    'metric': [{'type': 'TOTAL',
      'count': 1057855407,
      'amount': 1566649488305.8838}]},
   {'name': 'chandigarh',
    'metric': [{'type': 'TOTAL',
      'count': 8600491,
      'amount': 15174991549.840002}]},
   {'name': 'telangana',
    'metric': [{'type': 'TOTAL',
      'count': 886453385,
      'amount': 1670638169828.999}]},
   {'name': 'himachal pradesh',
    'metric': [{'type': 'TOTAL',
      'count': 16088180,
      'amount': 26518447439.932728}]},
   {'name': 'west bengal',
    'metric': [{'type': 'TOTAL',
      'count': 260505092,
      'amount': 551426663209.5653}]},
   {'name': 'gujarat',
    'metric': [{'type': 'TOTAL',
      'count': 210547146,
      'amount': 392548092253.5477}]},
   {'name': 'sikkim',
    'metric': [{'type': 'TOTAL',
      'count': 1744302,
      'amount': 4367431275.863418}]},
   {'name': 'nagaland',
    'metric': [{'type': 'TOTAL',
      'count': 1925952,
      'amount': 5544951708.895753}]},
   {'name': 'mizoram',
    'metric': [{'type': 'TOTAL',
      'count': 604917,
      'amount': 1945158963.6112473}]},
   {'name': 'chhattisgarh',
    'metric': [{'type': 'TOTAL',
      'count': 97413292,
      'amount': 157847045454.8349}]},
   {'name': 'jammu & kashmir',
    'metric': [{'type': 'TOTAL',
      'count': 16245311,
      'amount': 33147863626.158833}]},
   {'name': 'goa',
    'metric': [{'type': 'TOTAL',
      'count': 12214098,
      'amount': 19816445402.846123}]},
   {'name': 'arunachal pradesh',
    'metric': [{'type': 'TOTAL',
      'count': 2804068,
      'amount': 7828091628.0873575}]},
   {'name': 'delhi',
    'metric': [{'type': 'TOTAL',
      'count': 330999861,
      'amount': 536964920836.2892}]},
   {'name': 'uttarakhand',
    'metric': [{'type': 'TOTAL',
      'count': 44560772,
      'amount': 70978782500.07388}]}]},
 'responseTimestamp': 1651127571275}

In [ ]:
# from the above code we got an idea about the map/transaction data state-wise inside the years.

# Now we're going to extraction transaction count and amount state-wise for heat-map analysis and further drill down.

records = []

for year in os.listdir(base_path3):
  if not year.isdigit():
    continue

  year_path = os.path.join(base_path3,year)

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

      file_path = os.path.join(year_path,file)

      with open(file_path, 'r') as f:
        data = json.load(f)

      for state in data['data']['hoverDataList']:
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'state' : state['name'],
            'count' : state['metric'][0]['count'],
            'amount' : state['metric'][0]['amount']
        })

df_map_transaction_state = pd.DataFrame(records)
df_map_transaction_state.head()

   year quarter           state       count        amount
0  2024      Q3      puducherry    16008711  1.953500e+10
1  2024      Q3      tamil nadu   778536701  1.050780e+12
2  2024      Q3   uttar pradesh  2285955833  2.717475e+12
3  2024      Q3  madhya pradesh  1537738457  1.761082e+12
4  2024      Q3  andhra pradesh  2091371362  3.226646e+12

In [ ]:
df_map_transaction_state.shape

(1008, 5)

In [ ]:
csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/map_transaction_state.csv'
df_map_transaction_state.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# From the above code we have converted the map/transaction state wise dataframe into csv file.

# now we're going to extract the map/transaction district- wise data inside the state folder.

In [ ]:
base_path4 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/transaction/hover/country/india/state'

# lets look at the structure of the district level file:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/transaction/hover/country/india/state/tamil-nadu/2022/1.json'

with open(sample_path,'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'tiruchirappalli district',
    'metric': [{'type': 'TOTAL',
      'count': 5422369,
      'amount': 11360010997.109035}]},
   {'name': 'ramanathapuram district',
    'metric': [{'type': 'TOTAL',
      'count': 1425024,
      'amount': 3361169634.3715773}]},
   {'name': 'krishnagiri district',
    'metric': [{'type': 'TOTAL',
      'count': 11729353,
      'amount': 20650466208.670742}]},
   {'name': 'cuddalore district',
    'metric': [{'type': 'TOTAL',
      'count': 3854898,
      'amount': 7328083169.35031}]},
   {'name': 'kancheepuram district',
    'metric': [{'type': 'TOTAL',
      'count': 13219354,
      'amount': 19642924522.879723}]},
   {'name': 'tiruppur district',
    'metric': [{'type': 'TOTAL',
      'count': 12755181,
      'amount': 20994558968.024055}]},
   {'name': 'dharmapuri district',
    'metric': [{'type': 'TOTAL',
      'count': 4750920,
      'amount': 10116593522.472927}]},
   {'name': 'thoothukkudi district',
    'metric': [{'type': 'TOTAL',
      'count': 2388242,
      'amount': 5004713169.898031}]},
   {'name': 'thanjavur district',
    'metric': [{'type': 'TOTAL',
      'count': 2942810,
      'amount': 6384285130.794783}]},
   {'name': 'madurai district',
    'metric': [{'type': 'TOTAL',
      'count': 7084562,
      'amount': 15309320989.586184}]},
   {'name': 'tiruvannamalai district',
    'metric': [{'type': 'TOTAL',
      'count': 3659658,
      'amount': 7478979872.636584}]},
   {'name': 'salem district',
    'metric': [{'type': 'TOTAL',
      'count': 13278693,
      'amount': 26325325605.86054}]},
   {'name': 'nagapattinam district',
    'metric': [{'type': 'TOTAL',
      'count': 1501440,
      'amount': 3137077070.316338}]},
   {'name': 'tirupathur district',
    'metric': [{'type': 'TOTAL',
      'count': 3403925,
      'amount': 6408532952.989394}]},
   {'name': 'ariyalur district',
    'metric': [{'type': 'TOTAL',
      'count': 898502,
      'amount': 1840235658.86316}]},
   {'name': 'chennai district',
    'metric': [{'type': 'TOTAL',
      'count': 87458453,
      'amount': 135444152912.82495}]},
   {'name': 'the nilgiris district',
    'metric': [{'type': 'TOTAL',
      'count': 1729884,
      'amount': 3144464483.74693}]},
   {'name': 'erode district',
    'metric': [{'type': 'TOTAL',
      'count': 6860000,
      'amount': 12788323701.473593}]},
   {'name': 'karur district',
    'metric': [{'type': 'TOTAL',
      'count': 1831500,
      'amount': 3768124397.8555865}]},
   {'name': 'kallakkurichi district',
    'metric': [{'type': 'TOTAL',
      'count': 2421741,
      'amount': 5048000351.991163}]},
   {'name': 'viluppuram district',
    'metric': [{'type': 'TOTAL',
      'count': 2943580,
      'amount': 5372428494.6229515}]},
   {'name': 'pudukkottai district',
    'metric': [{'type': 'TOTAL',
      'count': 1639483,
      'amount': 3677396086.543876}]},
   {'name': 'perambalur district',
    'metric': [{'type': 'TOTAL',
      'count': 834022,
      'amount': 1744613505.1576376}]},
   {'name': 'coimbatore district',
    'metric': [{'type': 'TOTAL',
      'count': 30679187,
      'amount': 51963955887.092926}]},
   {'name': 'virudhunagar district',
    'metric': [{'type': 'TOTAL',
      'count': 2550440,
      'amount': 5676327115.346463}]},
   {'name': 'dindigul district',
    'metric': [{'type': 'TOTAL',
      'count': 3965199,
      'amount': 8412785022.744812}]},
   {'name': 'sivaganga district',
    'metric': [{'type': 'TOTAL',
      'count': 1828509,
      'amount': 4101854018.7768383}]},
   {'name': 'tenkasi district',
    'metric': [{'type': 'TOTAL',
      'count': 1345693,
      'amount': 3196885065.5183153}]},
   {'name': 'chengalpattu district',
    'metric': [{'type': 'TOTAL',
      'count': 19802491,
      'amount': 27209616572.77708}]},
   {'name': 'kanniyakumari district',
    'metric': [{'type': 'TOTAL',
      'count': 2597045,
      'amount': 5779300862.137162}]},
   {'name': 'tirunelveli district',
    'metric': [{'type': 'TOTAL',
      'count': 2585793,
      'amount': 5381065070.681534}]},
   {'name': 'thiruvallur district',
    'metric': [{'type': 'TOTAL',
      'count': 21243322,
      'amount': 35412374869.409676}]},
   {'name': 'theni district',
    'metric': [{'type': 'TOTAL',
      'count': 2063736,
      'amount': 4611206982.381892}]},
   {'name': 'ranipet district',
    'metric': [{'type': 'TOTAL',
      'count': 2755460,
      'amount': 5529848785.373485}]},
   {'name': 'namakkal district',
    'metric': [{'type': 'TOTAL',
      'count': 3415879,
      'amount': 7554607821.660087}]},
   {'name': 'vellore district',
    'metric': [{'type': 'TOTAL',
      'count': 4693455,
      'amount': 9294845509.816792}]},
   {'name': 'thiruvarur district',
    'metric': [{'type': 'TOTAL',
      'count': 1013347,
      'amount': 2334746608.8726997}]}]},
 'responseTimestamp': 1651127573379}

In [ ]:
# from the above code we have created the base_path for district level extraction:

# Now, we're going to extract the district data inside state folder.

records = []

for state in os.listdir(base_path4):
  state_path = os.path.join(base_path4, state)

  if not os.path.isdir(state_path):
    continue

  for year in os.listdir(state_path):
    if not year.isdigit():
      continue

    year_path = os.path.join(state_path, year)

    for file in os.listdir(year_path):
      if file.endswith('.json'):
        quarter = 'Q'+ file.replace('.json','')

      file_path = os.path.join(year_path, file)

      with open(file_path,'r') as f:
        data = json.load(f)

      if data['data']['hoverDataList'] is None:
        continue

      for district in data['data']['hoverDataList']:
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'state' : state.replace('-',' '),
            'district' : district['name'],
            'count' : district['metric'][0]['count'],
            'amount' : district['metric'][0]['amount']

        })

df_map_transaction_district = pd.DataFrame(records)
df_map_transaction_district.head()

   year quarter       state                  district     count        amount
0  2024      Q3  tamil nadu  tiruchirappalli district  16821080  2.673583e+10
1  2024      Q3  tamil nadu   ramanathapuram district   5628706  1.010751e+10
2  2024      Q3  tamil nadu      krishnagiri district  52506928  7.330148e+10
3  2024      Q3  tamil nadu        cuddalore district  12570583  1.894084e+10
4  2024      Q3  tamil nadu     kancheepuram district  23328353  2.401182e+10

In [ ]:
df_map_transaction_district.shape

(20604, 6)

In [ ]:
# we have dataframe for district level analysis in transaction part. Now, we have to save it into csv file.

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/map_transaction_district.csv'
df_map_transaction_district.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# Now, we have completed the map/transaction with state and district wise data and stored it as csv.

# Now, we're going to extract the map/ user data with state and district wise data extraction.

In [ ]:
# First, we have to find the structure of the data inside the map/user in year wise folder. Because the year wise folder contains the state level information.

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/user/hover/country/india/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverData': {'puducherry': {'registeredUsers': 448051,
    'appOpens': 3938657},
   'tamil nadu': {'registeredUsers': 21667020, 'appOpens': 638490275},
   'uttar pradesh': {'registeredUsers': 38999692, 'appOpens': 836926025},
   'madhya pradesh': {'registeredUsers': 19656147, 'appOpens': 1678266475},
   'andhra pradesh': {'registeredUsers': 23857951, 'appOpens': 1254785973},
   'tripura': {'registeredUsers': 582124, 'appOpens': 19322963},
   'lakshadweep': {'registeredUsers': 5990, 'appOpens': 45410},
   'manipur': {'registeredUsers': 411900, 'appOpens': 22637747},
   'maharashtra': {'registeredUsers': 48227630, 'appOpens': 2157769514},
   'dadra & nagar haveli & daman & diu': {'registeredUsers': 424570,
    'appOpens': 3910792},
   'meghalaya': {'registeredUsers': 255839, 'appOpens': 23634106},
   'andaman & nicobar islands': {'registeredUsers': 76288,
    'appOpens': 3847407},
   'haryana': {'registeredUsers': 12866988, 'appOpens': 217228467},
   'rajasthan': {'registeredUsers': 23398857, 'appOpens': 2570606469},
   'ladakh': {'registeredUsers': 92492, 'appOpens': 8902080},
   'punjab': {'registeredUsers': 7302726, 'appOpens': 117482807},
   'assam': {'registeredUsers': 4492589, 'appOpens': 281642453},
   'jharkhand': {'registeredUsers': 7025275, 'appOpens': 331355981},
   'odisha': {'registeredUsers': 12124779, 'appOpens': 613855465},
   'bihar': {'registeredUsers': 18484658, 'appOpens': 316991599},
   'kerala': {'registeredUsers': 8972299, 'appOpens': 94047893},
   'karnataka': {'registeredUsers': 31200349, 'appOpens': 1727054045},
   'chandigarh': {'registeredUsers': 541549, 'appOpens': 2321685},
   'telangana': {'registeredUsers': 22150612, 'appOpens': 1168864524},
   'himachal pradesh': {'registeredUsers': 2143483, 'appOpens': 77278278},
   'west bengal': {'registeredUsers': 21919787, 'appOpens': 236131065},
   'gujarat': {'registeredUsers': 19265314, 'appOpens': 521776939},
   'sikkim': {'registeredUsers': 209616, 'appOpens': 12440193},
   'nagaland': {'registeredUsers': 276483, 'appOpens': 24206053},
   'mizoram': {'registeredUsers': 115295, 'appOpens': 14886657},
   'chhattisgarh': {'registeredUsers': 5916961, 'appOpens': 448503438},
   'jammu & kashmir': {'registeredUsers': 1549320, 'appOpens': 62115857},
   'goa': {'registeredUsers': 738628, 'appOpens': 18678798},
   'arunachal pradesh': {'registeredUsers': 335339, 'appOpens': 41418559},
   'delhi': {'registeredUsers': 13539197, 'appOpens': 57524153},
   'uttarakhand': {'registeredUsers': 3674829, 'appOpens': 115224382}}},
 'responseTimestamp': 1651127633214}

In [ ]:
# The above shows the structure of the map/user state-wise in india.

# Now, extract the data and convert it into dataframe and then save it as the csv.

base_path5 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/user/hover/country/india'

In [ ]:
records = []

for year in os.listdir(base_path5):
  if not year.isdigit():
    continue

  year_path = os.path.join(base_path5,year)

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

    file_path = os.path.join(year_path, file)

    with open(file_path, 'r') as f:
      data = json.load(f)

    if data['data']['hoverData'] is None:
      continue

    for state,values in data['data']['hoverData'].items():
      records.append({
          'year' : int(year),
          'quarter' : quarter,
          'state' : state,
          'registeredUsers' : values['registeredUsers'],
          'appOpens' : values['appOpens']
      })

df_map_user_state = pd.DataFrame(records)
df_map_user_state.head()

   year quarter           state  registeredUsers    appOpens
0  2024      Q2      puducherry           655486     2882669
1  2024      Q2      tamil nadu         31818880  1071832085
2  2024      Q2   uttar pradesh         58199149  3406733148
3  2024      Q2  madhya pradesh         29324466  4877924433
4  2024      Q2  andhra pradesh         35303719  1061281082

In [ ]:
df_map_user_state.shape

(1008, 5)

In [ ]:
# we have to convert the dataframe into csv and save it.

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/map_user_state.csv'
df_map_user_state.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# From the above listdir() we have concluded that, the Map/User state-wise extraction has been successfully completed and saved as csv file.

# Now,we're going to extract the district level data inside state folder for drill-down process within the state in streamlit case-studies.

In [ ]:
# Let's look at the structure of the data:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/user/hover/country/india/state/tamil-nadu/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverData': {'tiruchirappalli district': {'registeredUsers': 688562,
    'appOpens': 20900419},
   'ramanathapuram district': {'registeredUsers': 210698,
    'appOpens': 17777779},
   'krishnagiri district': {'registeredUsers': 776101, 'appOpens': 41868147},
   'cuddalore district': {'registeredUsers': 527223, 'appOpens': 15255170},
   'kancheepuram district': {'registeredUsers': 1158719, 'appOpens': 11803314},
   'tiruppur district': {'registeredUsers': 1014036, 'appOpens': 24784887},
   'dharmapuri district': {'registeredUsers': 404709, 'appOpens': 29735879},
   'thoothukkudi district': {'registeredUsers': 327607, 'appOpens': 16229136},
   'thanjavur district': {'registeredUsers': 445883, 'appOpens': 13460902},
   'madurai district': {'registeredUsers': 820952, 'appOpens': 18688722},
   'tiruvannamalai district': {'registeredUsers': 489026,
    'appOpens': 28400548},
   'salem district': {'registeredUsers': 905104, 'appOpens': 31202884},
   'nagapattinam district': {'registeredUsers': 226781, 'appOpens': 9648543},
   'tirupathur district': {'registeredUsers': 317064, 'appOpens': 12811064},
   'ariyalur district': {'registeredUsers': 134075, 'appOpens': 8238011},
   'chennai district': {'registeredUsers': 2388315, 'appOpens': 10870012},
   'the nilgiris district': {'registeredUsers': 173188, 'appOpens': 9788145},
   'erode district': {'registeredUsers': 589462, 'appOpens': 16683133},
   'karur district': {'registeredUsers': 222853, 'appOpens': 16310834},
   'kallakkurichi district': {'registeredUsers': 306623, 'appOpens': 15612591},
   'viluppuram district': {'registeredUsers': 379264, 'appOpens': 17225194},
   'pudukkottai district': {'registeredUsers': 237115, 'appOpens': 22854053},
   'perambalur district': {'registeredUsers': 112667, 'appOpens': 8040859},
   'coimbatore district': {'registeredUsers': 1687096, 'appOpens': 27741808},
   'virudhunagar district': {'registeredUsers': 346363, 'appOpens': 17177364},
   'dindigul district': {'registeredUsers': 440072, 'appOpens': 27821213},
   'sivaganga district': {'registeredUsers': 241188, 'appOpens': 20384928},
   'tenkasi district': {'registeredUsers': 204182, 'appOpens': 9468909},
   'chengalpattu district': {'registeredUsers': 1621177, 'appOpens': 16221250},
   'kanniyakumari district': {'registeredUsers': 370820, 'appOpens': 5009074},
   'tirunelveli district': {'registeredUsers': 338716, 'appOpens': 13100432},
   'thiruvallur district': {'registeredUsers': 1970646, 'appOpens': 24538065},
   'theni district': {'registeredUsers': 245438, 'appOpens': 12750343},
   'ranipet district': {'registeredUsers': 325358, 'appOpens': 10227642},
   'namakkal district': {'registeredUsers': 399282, 'appOpens': 14545554},
   'vellore district': {'registeredUsers': 449961, 'appOpens': 11694691},
   'thiruvarur district': {'registeredUsers': 170694, 'appOpens': 9618776}}},
 'responseTimestamp': 1651127635221}

In [ ]:
# Now we're going to extract the data and store it in the dataframe and save it as a csv file:


base_path6 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/user/hover/country/india/state'

records = []

for state in os.listdir(base_path6):
  state_path = os.path.join(base_path6,state)

  if not os.path.isdir(state_path):
    continue

  for year in os.listdir(state_path):
    if not year.isdigit():
      continue

    year_path = os.path.join(state_path,year)

    for file in os.listdir(year_path):
      if file.endswith('.json'):
        quarter = 'Q'+ file.replace('.json', '')

      file_path = os.path.join(year_path,file)

      with open(file_path, 'r') as f:
        data = json.load(f)

      if data['data']['hoverData'] is None:
        continue

      for district,values in data['data']['hoverData'].items():
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'state' : state.replace('-',' '),
            'district' : district,
            'registeredUsers' : values['registeredUsers'],
            'appOpens' : values['appOpens']
        })


df_map_user_district = pd.DataFrame(records)
df_map_user_district.head()

,year,quarter,state,district,registeredUsers,appOpens
0,2024,Q2,west bengal,south twenty four parganas district,2333257,48907886
1,2024,Q2,west bengal,purba bardhaman district,1432719,27344799
2,2024,Q2,west bengal,uttar dinajpur district,745909,30106105
3,2024,Q2,west bengal,kalimpong district,68216,10811201
4,2024,Q2,west bengal,murshidabad district,2271497,39476726

In [ ]:
df_map_user_district.shape

(20608, 6)

In [ ]:
# Now we got the dataframe, lets save it as a csv file:

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/map_user_district.csv'
df_map_user_district.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# The above listdir() shows that we have successfully saved the map_user_district as a csv file.

# Now, we're going to extract the map/insurance data state and district level. First we're going to extract the data state level inside the year folder.

# Before that we have to find the structure of the json file:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/insurance/hover/country/india/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'puducherry',
    'metric': [{'type': 'TOTAL', 'count': 1199, 'amount': 1663404.0}]},
   {'name': 'tamil nadu',
    'metric': [{'type': 'TOTAL', 'count': 47621, 'amount': 64969045.0}]},
   {'name': 'uttar pradesh',
    'metric': [{'type': 'TOTAL', 'count': 45996, 'amount': 73014969.0}]},
   {'name': 'madhya pradesh',
    'metric': [{'type': 'TOTAL', 'count': 13791, 'amount': 19901462.0}]},
   {'name': 'andhra pradesh',
    'metric': [{'type': 'TOTAL', 'count': 29954, 'amount': 42648157.0}]},
   {'name': 'tripura',
    'metric': [{'type': 'TOTAL', 'count': 907, 'amount': 1493401.0}]},
   {'name': 'lakshadweep',
    'metric': [{'type': 'TOTAL', 'count': 27, 'amount': 34664.0}]},
   {'name': 'manipur',
    'metric': [{'type': 'TOTAL', 'count': 177, 'amount': 517854.0}]},
   {'name': 'maharashtra',
    'metric': [{'type': 'TOTAL', 'count': 88015, 'amount': 117411928.0}]},
   {'name': 'dadra & nagar haveli & daman & diu',
    'metric': [{'type': 'TOTAL', 'count': 493, 'amount': 720741.0}]},
   {'name': 'meghalaya',
    'metric': [{'type': 'TOTAL', 'count': 337, 'amount': 729211.0}]},
   {'name': 'andaman & nicobar islands',
    'metric': [{'type': 'TOTAL', 'count': 768, 'amount': 1131287.0}]},
   {'name': 'haryana',
    'metric': [{'type': 'TOTAL', 'count': 22783, 'amount': 32526943.0}]},
   {'name': 'rajasthan',
    'metric': [{'type': 'TOTAL', 'count': 21517, 'amount': 31576932.0}]},
   {'name': 'ladakh',
    'metric': [{'type': 'TOTAL', 'count': 75, 'amount': 193935.0}]},
   {'name': 'punjab',
    'metric': [{'type': 'TOTAL', 'count': 7475, 'amount': 13155682.0}]},
   {'name': 'assam',
    'metric': [{'type': 'TOTAL', 'count': 16230, 'amount': 27447766.0}]},
   {'name': 'jharkhand',
    'metric': [{'type': 'TOTAL', 'count': 9373, 'amount': 13819466.0}]},
   {'name': 'odisha',
    'metric': [{'type': 'TOTAL', 'count': 9627, 'amount': 14539309.0}]},
   {'name': 'bihar',
    'metric': [{'type': 'TOTAL', 'count': 20253, 'amount': 27755736.0}]},
   {'name': 'kerala',
    'metric': [{'type': 'TOTAL', 'count': 37110, 'amount': 64172190.0}]},
   {'name': 'karnataka',
    'metric': [{'type': 'TOTAL', 'count': 95640, 'amount': 130733580.0}]},
   {'name': 'chandigarh',
    'metric': [{'type': 'TOTAL', 'count': 792, 'amount': 1150932.0}]},
   {'name': 'telangana',
    'metric': [{'type': 'TOTAL', 'count': 36325, 'amount': 51942016.0}]},
   {'name': 'himachal pradesh',
    'metric': [{'type': 'TOTAL', 'count': 2768, 'amount': 5234739.0}]},
   {'name': 'west bengal',
    'metric': [{'type': 'TOTAL', 'count': 38779, 'amount': 51160527.0}]},
   {'name': 'gujarat',
    'metric': [{'type': 'TOTAL', 'count': 22221, 'amount': 29953433.0}]},
   {'name': 'sikkim',
    'metric': [{'type': 'TOTAL', 'count': 239, 'amount': 685987.0}]},
   {'name': 'nagaland',
    'metric': [{'type': 'TOTAL', 'count': 242, 'amount': 529223.0}]},
   {'name': 'mizoram',
    'metric': [{'type': 'TOTAL', 'count': 85, 'amount': 189428.0}]},
   {'name': 'chhattisgarh',
    'metric': [{'type': 'TOTAL', 'count': 6612, 'amount': 10139190.0}]},
   {'name': 'jammu & kashmir',
    'metric': [{'type': 'TOTAL', 'count': 3584, 'amount': 7244267.0}]},
   {'name': 'goa',
    'metric': [{'type': 'TOTAL', 'count': 2634, 'amount': 3865245.0}]},
   {'name': 'arunachal pradesh',
    'metric': [{'type': 'TOTAL', 'count': 355, 'amount': 894107.0}]},
   {'name': 'delhi',
    'metric': [{'type': 'TOTAL', 'count': 28232, 'amount': 35442069.0}]},
   {'name': 'uttarakhand',
    'metric': [{'type': 'TOTAL', 'count': 5339, 'amount': 8824948.0}]}]},
 'responseTimestamp': 1692611156891}

In [ ]:
# We have looked into the structure of the json file.

# Now, we're going to extract the state level Map/insurance data extraction:

base_path7 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/insurance/hover/country/india'

records = []

for year in os.listdir(base_path7):
  if not year.isdigit():
    continue

  year_path = os.path.join(base_path7,year)

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

    file_path = os.path.join(year_path, file)

    with open(file_path, 'r') as f:
      data = json.load(f)

    if data['data']['hoverDataList'] is None:
      continue

    for state in data['data']['hoverDataList']:
      records.append({
          'year' : int(year),
          'quarter' : quarter,
          'state' : state['name'],
          'count' : state['metric'][0]['count'],
          'amount' : state['metric'][0]['amount']
})



df_map_insurance_state = pd.DataFrame(records)
df_map_insurance_state.head()

   year quarter           state   count       amount
0  2024      Q3      puducherry    2600    3968523.0
1  2024      Q3      tamil nadu  116867  162128271.0
2  2024      Q3   uttar pradesh   92930  157303596.0
3  2024      Q3  madhya pradesh   43248   77995668.0
4  2024      Q3  andhra pradesh   48014   73915199.0

In [ ]:
df_map_insurance_state.shape

(682, 5)

In [ ]:
# Now we're going to save the dataframe as csv file:

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/map_insurance_state.csv'
df_map_insurance_state.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# from the above listdir() it clearly shows we have saved it as the csv file.

# Now, we're going to extract the insurance data district level inside the state folder.

In [ ]:
# Lets look at the structure of the district level json file:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/insurance/hover/country/india/state/tamil-nadu/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)


data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'tiruchirappalli district',
    'metric': [{'type': 'TOTAL', 'count': 1034, 'amount': 1459109.0}]},
   {'name': 'ramanathapuram district',
    'metric': [{'type': 'TOTAL', 'count': 220, 'amount': 366054.0}]},
   {'name': 'krishnagiri district',
    'metric': [{'type': 'TOTAL', 'count': 1582, 'amount': 2435788.0}]},
   {'name': 'cuddalore district',
    'metric': [{'type': 'TOTAL', 'count': 763, 'amount': 1249929.0}]},
   {'name': 'kancheepuram district',
    'metric': [{'type': 'TOTAL', 'count': 3182, 'amount': 3910459.0}]},
   {'name': 'tiruppur district',
    'metric': [{'type': 'TOTAL', 'count': 2393, 'amount': 3287882.0}]},
   {'name': 'dharmapuri district',
    'metric': [{'type': 'TOTAL', 'count': 367, 'amount': 636107.0}]},
   {'name': 'thoothukkudi district',
    'metric': [{'type': 'TOTAL', 'count': 482, 'amount': 833977.0}]},
   {'name': 'thanjavur district',
    'metric': [{'type': 'TOTAL', 'count': 599, 'amount': 926904.0}]},
   {'name': 'madurai district',
    'metric': [{'type': 'TOTAL', 'count': 1996, 'amount': 2487362.0}]},
   {'name': 'tiruvannamalai district',
    'metric': [{'type': 'TOTAL', 'count': 494, 'amount': 792716.0}]},
   {'name': 'salem district',
    'metric': [{'type': 'TOTAL', 'count': 1415, 'amount': 2147587.0}]},
   {'name': 'nagapattinam district',
    'metric': [{'type': 'TOTAL', 'count': 333, 'amount': 574536.0}]},
   {'name': 'tirupathur district',
    'metric': [{'type': 'TOTAL', 'count': 325, 'amount': 503152.0}]},
   {'name': 'ariyalur district',
    'metric': [{'type': 'TOTAL', 'count': 183, 'amount': 276135.0}]},
   {'name': 'chennai district',
    'metric': [{'type': 'TOTAL', 'count': 9138, 'amount': 9949256.0}]},
   {'name': 'the nilgiris district',
    'metric': [{'type': 'TOTAL', 'count': 330, 'amount': 627279.0}]},
   {'name': 'erode district',
    'metric': [{'type': 'TOTAL', 'count': 1139, 'amount': 1890815.0}]},
   {'name': 'karur district',
    'metric': [{'type': 'TOTAL', 'count': 311, 'amount': 474739.0}]},
   {'name': 'kallakkurichi district',
    'metric': [{'type': 'TOTAL', 'count': 268, 'amount': 483534.0}]},
   {'name': 'viluppuram district',
    'metric': [{'type': 'TOTAL', 'count': 557, 'amount': 883618.0}]},
   {'name': 'pudukkottai district',
    'metric': [{'type': 'TOTAL', 'count': 233, 'amount': 361402.0}]},
   {'name': 'perambalur district',
    'metric': [{'type': 'TOTAL', 'count': 92, 'amount': 173486.0}]},
   {'name': 'coimbatore district',
    'metric': [{'type': 'TOTAL', 'count': 4682, 'amount': 6798923.0}]},
   {'name': 'virudhunagar district',
    'metric': [{'type': 'TOTAL', 'count': 423, 'amount': 633652.0}]},
   {'name': 'dindigul district',
    'metric': [{'type': 'TOTAL', 'count': 619, 'amount': 1122922.0}]},
   {'name': 'sivaganga district',
    'metric': [{'type': 'TOTAL', 'count': 304, 'amount': 499244.0}]},
   {'name': 'tenkasi district',
    'metric': [{'type': 'TOTAL', 'count': 287, 'amount': 594379.0}]},
   {'name': 'chengalpattu district',
    'metric': [{'type': 'TOTAL', 'count': 4588, 'amount': 5867983.0}]},
   {'name': 'kanniyakumari district',
    'metric': [{'type': 'TOTAL', 'count': 552, 'amount': 1012992.0}]},
   {'name': 'tirunelveli district',
    'metric': [{'type': 'TOTAL', 'count': 596, 'amount': 880850.0}]},
   {'name': 'thiruvallur district',
    'metric': [{'type': 'TOTAL', 'count': 5793, 'amount': 7146597.0}]},
   {'name': 'theni district',
    'metric': [{'type': 'TOTAL', 'count': 363, 'amount': 601250.0}]},
   {'name': 'ranipet district',
    'metric': [{'type': 'TOTAL', 'count': 465, 'amount': 679825.0}]},
   {'name': 'namakkal district',
    'metric': [{'type': 'TOTAL', 'count': 606, 'amount': 989125.0}]},
   {'name': 'vellore district',
    'metric': [{'type': 'TOTAL', 'count': 653, 'amount': 1013919.0}]},
   {'name': 'thiruvarur district',
    'metric': [{'type': 'TOTAL', 'count': 254, 'amount': 395558.0}]}]},
 'responseTimestamp': 1692611157855}

In [ ]:
# we have looked into the structure of the json file.

# Now we're going to extract the Map/insurance data district-wise.

In [ ]:
base_path8 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/map/insurance/hover/country/india/state'

records = []

for states in os.listdir(base_path8):
  state_path = os.path.join(base_path8, states)

  if not os.path.isdir(state_path):
    continue

  for year in os.listdir(state_path):
    if not year.isdigit():
      continue

    year_path = os.path.join(state_path, year)

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

    file_path = os.path.join(year_path,file)

    with open(file_path, 'r') as f:
      data = json.load(f)

    if data['data']['hoverDataList'] is None:
      continue

    for district in data['data']['hoverDataList']:
      records.append({
          'year' : int(year),
          'quarter' : quarter,
          'state' : states.replace('-' , ' '),
          'district' : district['name'],
          'count' : district['metric'][0]['count'],
          'amount' : district['metric'][0]['amount']

      })


df_map_insurance_district = pd.DataFrame(records)
df_map_insurance_district.head()

,year,quarter,state,district,count,amount
0,2020,Q3,west bengal,south twenty four parganas district,774,175635.0
1,2020,Q3,west bengal,purba bardhaman district,436,91707.0
2,2020,Q3,west bengal,uttar dinajpur district,179,29463.0
3,2020,Q3,west bengal,kalimpong district,12,4338.0
4,2020,Q3,west bengal,murshidabad district,458,86182.0

In [ ]:
df_map_insurance_district.shape

(2516, 6)

In [ ]:
# Now we have save the dataframe as csv file.

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/map_insurance_district.csv'
df_map_insurance_district.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# from the above we have completed the extraction of aggregated and map data in all means.

# Now. we're going to extract the top data and make it as the dataframe and then save it as csv file.

In [ ]:
# Lets look at the structure of the json file in top data- state wise:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/transaction/country/india/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': [{'entityName': 'maharashtra',
    'metric': {'type': 'TOTAL',
     'count': 1169506438,
     'amount': 1681399273981.1611}},
   {'entityName': 'karnataka',
    'metric': {'type': 'TOTAL',
     'count': 1057855407,
     'amount': 1566649488305.8838}},
   {'entityName': 'telangana',
    'metric': {'type': 'TOTAL',
     'count': 886453385,
     'amount': 1670638169828.9993}},
   {'entityName': 'andhra pradesh',
    'metric': {'type': 'TOTAL',
     'count': 582603911,
     'amount': 1294320646554.8625}},
   {'entityName': 'rajasthan',
    'metric': {'type': 'TOTAL',
     'count': 564962220,
     'amount': 1022050180980.1362}},
   {'entityName': 'uttar pradesh',
    'metric': {'type': 'TOTAL',
     'count': 473953246,
     'amount': 883123174117.0391}},
   {'entityName': 'madhya pradesh',
    'metric': {'type': 'TOTAL',
     'count': 472703058,
     'amount': 747665139599.6421}},
   {'entityName': 'delhi',
    'metric': {'type': 'TOTAL',
     'count': 330999861,
     'amount': 536964920836.2892}},
   {'entityName': 'tamil nadu',
    'metric': {'type': 'TOTAL',
     'count': 294573150,
     'amount': 512789201600.616}},
   {'entityName': 'bihar',
    'metric': {'type': 'TOTAL',
     'count': 284390434,
     'amount': 611411695731.1455}}],
  'districts': [{'entityName': 'bengaluru urban',
    'metric': {'type': 'TOTAL',
     'count': 648380838,
     'amount': 837938769153.0938}},
   {'entityName': 'pune',
    'metric': {'type': 'TOTAL',
     'count': 424149132,
     'amount': 508475101454.5797}},
   {'entityName': 'hyderabad',
    'metric': {'type': 'TOTAL',
     'count': 372711414,
     'amount': 661512502141.0775}},
   {'entityName': 'jaipur',
    'metric': {'type': 'TOTAL',
     'count': 262950613,
     'amount': 434507898653.22876}},
   {'entityName': 'bhopal',
    'metric': {'type': 'TOTAL',
     'count': 159892411,
     'amount': 221096758835.27948}},
   {'entityName': 'central delhi',
    'metric': {'type': 'TOTAL',
     'count': 128309915,
     'amount': 198072597274.588}},
   {'entityName': 'rangareddy',
    'metric': {'type': 'TOTAL',
     'count': 127675017,
     'amount': 216609881380.40106}},
   {'entityName': 'medchal malkajgiri',
    'metric': {'type': 'TOTAL',
     'count': 110893187,
     'amount': 185168270983.38605}},
   {'entityName': 'mumbai suburban',
    'metric': {'type': 'TOTAL',
     'count': 104595313,
     'amount': 148080835860.6061}},
   {'entityName': 'khordha',
    'metric': {'type': 'TOTAL',
     'count': 104052705,
     'amount': 152745328927.4852}}],
  'pincodes': [{'entityName': '500001',
    'metric': {'type': 'TOTAL',
     'count': 248675599,
     'amount': 460948755722.1826}},
   {'entityName': '560001',
    'metric': {'type': 'TOTAL',
     'count': 224793308,
     'amount': 308663371704.65454}},
   {'entityName': '411004',
    'metric': {'type': 'TOTAL',
     'count': 209101358,
     'amount': 285005833904.6318}},
   {'entityName': '302016',
    'metric': {'type': 'TOTAL',
     'count': 148956604,
     'amount': 248958961898.95383}},
   {'entityName': '462008',
    'metric': {'type': 'TOTAL',
     'count': 119378084,
     'amount': 172143368941.8931}},
   {'entityName': '110006',
    'metric': {'type': 'TOTAL',
     'count': 112708284,
     'amount': 170854549748.09644}},
   {'entityName': '444510',
    'metric': {'type': 'TOTAL',
     'count': 69862188,
     'amount': 129741278088.80704}},
   {'entityName': '800001',
    'metric': {'type': 'TOTAL',
     'count': 68427326,
     'amount': 126972470461.14954}},
   {'entityName': '600003',
    'metric': {'type': 'TOTAL',
     'count': 62446149,
     'amount': 95888452779.63263}},
   {'entityName': '751001',
    'metric': {'type': 'TOTAL',
     'count': 58525215,
     'amount': 91210203433.81744}}]},
 'responseTimestamp': 1651127572274}

In [ ]:
# Now, we're going to extract the data from the json file and store it as the csv for top/transaction:


base_path9 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/transaction/country/india'

records = []

for year in os.listdir(base_path9):
  if not year.isdigit():
    continue

  year_path = os.path.join(base_path9,year)

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

    file_path = os.path.join(year_path,file)

    with open(file_path, 'r') as f:
      data = json.load(f)

    if data['data']['states'] is None:
      continue

    for state in data['data']['states']:
      records.append({
          'year' : int(year),
          'quarter' : quarter,
          'state' : state['entityName'],
          'count' : state['metric']['count'],
          'amount' : state['metric']['amount']
      })


df_top_transaction_state = pd.DataFrame(records)
df_top_transaction_state.head()

   year quarter           state       count        amount
0  2023      Q4     maharashtra  2572162725  3.098015e+12
1  2023      Q4       karnataka  2564434164  3.241376e+12
2  2023      Q4       telangana  2020822178  3.116417e+12
3  2023      Q4  andhra pradesh  1596987426  2.802515e+12
4  2023      Q4   uttar pradesh  1566705382  2.257441e+12

In [ ]:
df_top_transaction_state.shape

(280, 5)

In [ ]:
# Now we have to save the dataframe as csv file:

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/top_transaction_state.csv'
df_top_transaction_state.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# we have now extracted,transformed and loaded the top/transaction state wise data.

# Now, we're going to extract,transform and load the top/transaction district-wise data.

In [ ]:
# Lets look at the structure of the 1 json file for reference to code:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/transaction/country/india/state/tamil-nadu/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'entityName': 'chennai',
    'metric': {'type': 'TOTAL',
     'count': 87458453,
     'amount': 135444152912.82495}},
   {'entityName': 'coimbatore',
    'metric': {'type': 'TOTAL',
     'count': 30679187,
     'amount': 51963955887.092926}},
   {'entityName': 'thiruvallur',
    'metric': {'type': 'TOTAL',
     'count': 21243322,
     'amount': 35412374869.40968}},
   {'entityName': 'chengalpattu',
    'metric': {'type': 'TOTAL',
     'count': 19802491,
     'amount': 27209616572.77708}},
   {'entityName': 'salem',
    'metric': {'type': 'TOTAL',
     'count': 13278693,
     'amount': 26325325605.86054}},
   {'entityName': 'kancheepuram',
    'metric': {'type': 'TOTAL',
     'count': 13219354,
     'amount': 19642924522.879723}},
   {'entityName': 'tiruppur',
    'metric': {'type': 'TOTAL',
     'count': 12755181,
     'amount': 20994558968.024055}},
   {'entityName': 'krishnagiri',
    'metric': {'type': 'TOTAL',
     'count': 11729353,
     'amount': 20650466208.670746}},
   {'entityName': 'madurai',
    'metric': {'type': 'TOTAL',
     'count': 7084562,
     'amount': 15309320989.586182}},
   {'entityName': 'erode',
    'metric': {'type': 'TOTAL',
     'count': 6860000,
     'amount': 12788323701.47359}}],
  'pincodes': [{'entityName': '600003',
    'metric': {'type': 'TOTAL',
     'count': 62446149,
     'amount': 95888452779.63263}},
   {'entityName': '641018',
    'metric': {'type': 'TOTAL',
     'count': 12588968,
     'amount': 24436130479.46472}},
   {'entityName': '636006',
    'metric': {'type': 'TOTAL', 'count': 5321118, 'amount': 9190335218.72433}},
   {'entityName': '635109',
    'metric': {'type': 'TOTAL',
     'count': 2529796,
     'amount': 3995922448.343732}},
   {'entityName': '635126',
    'metric': {'type': 'TOTAL',
     'count': 2133935,
     'amount': 3120121471.4986033}},
   {'entityName': '641602',
    'metric': {'type': 'TOTAL',
     'count': 2060478,
     'amount': 3585502916.232564}},
   {'entityName': '602105',
    'metric': {'type': 'TOTAL',
     'count': 2034034,
     'amount': 2412500026.8843203}},
   {'entityName': '638001',
    'metric': {'type': 'TOTAL',
     'count': 1982168,
     'amount': 3629711418.7918158}},
   {'entityName': '641606',
    'metric': {'type': 'TOTAL',
     'count': 1862567,
     'amount': 3056211719.8197355}},
   {'entityName': '600100',
    'metric': {'type': 'TOTAL',
     'count': 1849606,
     'amount': 2551967667.3345017}}]},
 'responseTimestamp': 1651127573556}

In [ ]:
# Now, we're going to extract the district level data and transform it as the dataframe and save it as the csv file,

base_path10 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/transaction/country/india/state'


records = []

for state in os.listdir(base_path10):
  state_path = os.path.join(base_path10,state)

  if not os.path.isdir(state_path):
    continue

  for year in os.listdir(state_path):
    if not year.isdigit():
      continue

    year_path = os.path.join(state_path,year)

    for file in os.listdir(year_path):
      if file.endswith('.json'):
        quarter = 'Q'+ file.replace('.json', '')

      file_path = os.path.join(year_path,file)

      with open(file_path, 'r') as f:
        data = json.load(f)

      if data['data']['districts'] is None:
        continue

      for district in data['data']['districts']:
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'state' : state.replace('-', ' '),
            'district' : district['entityName'],
            'count' : district['metric']['count'],
            'amount' : district['metric']['amount']
        })


df_top_transaction_district = pd.DataFrame(records)
df_top_transaction_district.head()

,year,quarter,state,district,count,amount
0,2024,Q1,west bengal,north twenty four parganas,139181072,2.030766e+11
1,2024,Q1,west bengal,kolkata,93663346,1.505557e+11
2,2024,Q1,west bengal,murshidabad,62785121,1.306451e+11
3,2024,Q1,west bengal,south twenty four parganas,53004493,9.904291e+10
4,2024,Q1,west bengal,purba medinipur,46212626,9.237355e+10

In [ ]:
df_top_transaction_district.shape

(8316, 6)

In [ ]:
# now we have to save the top/transaction district-level dataframe as csv file.

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/top_transaction_district.csv'
df_top_transaction_district.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# Above listdir() clearly shows that the top/transaction ETL has been done for state and district level.

# Next we have looked down and proceed the ETL with top/user state and district level drill down.

In [ ]:
# Lets look at the structure of the top/user json file for state level ETL.

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/user/country/india/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': [{'name': 'maharashtra', 'registeredUsers': 48227630},
   {'name': 'uttar pradesh', 'registeredUsers': 38999692},
   {'name': 'karnataka', 'registeredUsers': 31200349},
   {'name': 'andhra pradesh', 'registeredUsers': 23857951},
   {'name': 'rajasthan', 'registeredUsers': 23398857},
   {'name': 'telangana', 'registeredUsers': 22150612},
   {'name': 'west bengal', 'registeredUsers': 21919787},
   {'name': 'tamil nadu', 'registeredUsers': 21667020},
   {'name': 'madhya pradesh', 'registeredUsers': 19656147},
   {'name': 'gujarat', 'registeredUsers': 19265314}],
  'districts': [{'name': 'bengaluru urban', 'registeredUsers': 12707664},
   {'name': 'pune', 'registeredUsers': 8331582},
   {'name': 'thane', 'registeredUsers': 5196050},
   {'name': 'jaipur', 'registeredUsers': 5133527},
   {'name': 'mumbai suburban', 'registeredUsers': 5017556},
   {'name': 'hyderabad', 'registeredUsers': 4306136},
   {'name': 'ahmadabad', 'registeredUsers': 3897869},
   {'name': 'rangareddy', 'registeredUsers': 3722676},
   {'name': 'north twenty four parganas', 'registeredUsers': 3224459},
   {'name': 'surat', 'registeredUsers': 3210535}],
  'pincodes': [{'name': '201301', 'registeredUsers': 698600},
   {'name': '110059', 'registeredUsers': 588266},
   {'name': '560068', 'registeredUsers': 545827},
   {'name': '421302', 'registeredUsers': 518716},
   {'name': '500072', 'registeredUsers': 476073},
   {'name': '122001', 'registeredUsers': 465984},
   {'name': '110092', 'registeredUsers': 460951},
   {'name': '110086', 'registeredUsers': 406863},
   {'name': '121004', 'registeredUsers': 400283},
   {'name': '560078', 'registeredUsers': 388154}]},
 'responseTimestamp': 1651127634141}

In [ ]:
# Based on the above structure we're going to extract, transform and load the top/user dataset state wise.

base_path11 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/user/country/india'

records = []

for year in os.listdir(base_path11):
  if not year.isdigit():
    continue

  year_path = os.path.join(base_path11,year)

  for file in os.listdir(year_path):
    if file.endswith('.json'):
      quarter = 'Q'+ file.replace('.json', '')

    file_path = os.path.join(year_path,file)

    with open(file_path, 'r') as f:
      data = json.load(f)

    if data['data']['states'] is None:
      continue

    for state in data['data']['states']:
      records.append({
          'year' : int(year),
          'quarter' : quarter,
          'state' : state['name'],
          'registeredUsers' : state['registeredUsers'],
      })


df_top_user_state = pd.DataFrame(records)
df_top_user_state.head()

   year quarter          state  registeredUsers
0  2024      Q4    maharashtra         71807805
1  2024      Q4  uttar pradesh         70474113
2  2024      Q4      karnataka         45917653
3  2024      Q4      rajasthan         36828375
4  2024      Q4    west bengal         34750181

In [ ]:
df_top_user_state.shape

(280, 4)

In [ ]:
# we transformed the json_file into an dataframe. Now, we have to do the loading part, we have to save the dataframe as CSV file.


csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/top_user_state.csv'
df_top_user_state.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# From the above listdir() we have succefully saved the top/ user state wise data as csv.

# Now, we're going to perform ETL for the top/user district level drill down.

In [ ]:
# Lets look into the structure of top/user district wise inside state folder:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/user/country/india/state/tamil-nadu/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'name': 'chennai', 'registeredUsers': 2388315},
   {'name': 'thiruvallur', 'registeredUsers': 1970646},
   {'name': 'coimbatore', 'registeredUsers': 1687096},
   {'name': 'chengalpattu', 'registeredUsers': 1621177},
   {'name': 'kancheepuram', 'registeredUsers': 1158719},
   {'name': 'tiruppur', 'registeredUsers': 1014036},
   {'name': 'salem', 'registeredUsers': 905104},
   {'name': 'madurai', 'registeredUsers': 820952},
   {'name': 'krishnagiri', 'registeredUsers': 776101},
   {'name': 'tiruchirappalli', 'registeredUsers': 688562}],
  'pincodes': [{'name': '641602', 'registeredUsers': 172812},
   {'name': '635109', 'registeredUsers': 154260},
   {'name': '602105', 'registeredUsers': 142269},
   {'name': '600100', 'registeredUsers': 134860},
   {'name': '635126', 'registeredUsers': 125806},
   {'name': '600056', 'registeredUsers': 121108},
   {'name': '600003', 'registeredUsers': 119226},
   {'name': '600053', 'registeredUsers': 113418},
   {'name': '600116', 'registeredUsers': 109830},
   {'name': '600042', 'registeredUsers': 102844}]},
 'responseTimestamp': 1651127635392}

In [ ]:
# Now we have looked into the structure of the data inside the json file. Lets do the ETL part for the top/user district wise.


base_path12 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/user/country/india/state'

records = []

for states in os.listdir(base_path12):
  state_path = os.path.join(base_path12, states)

  if not os.path.isdir(state_path):
    continue

  for year in os.listdir(state_path):
    if not year.isdigit():
      continue

    year_path = os.path.join(state_path, year)

    for file in os.listdir(year_path):
      if not file.endswith('.json'):
        continue

      quarter = 'Q'+ file.replace('.json', '')



      file_path = os.path.join(year_path,file)

      with open(file_path, 'r') as f:
        data = json.load(f)

      district = data['data'].get('districts')

      if district is None:
        continue

      for districts in district:
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'state' : states.replace('-', ' '),
            'district' : districts['name'],
            'registeredUsers' : districts['registeredUsers']
        })


df_top_user_district = pd.DataFrame(records)
df_top_user_district.head()

   year quarter        state                    district  registeredUsers
0  2020      Q4  west bengal  north twenty four parganas          2321888
1  2020      Q4  west bengal                     kolkata          1700474
2  2020      Q4  west bengal  south twenty four parganas          1118649
3  2020      Q4  west bengal                 murshidabad          1085899
4  2020      Q4  west bengal                     hooghly           977339

In [ ]:
df_top_user_district.shape

(8296, 5)

In [ ]:
# we have transformed the json file into dataframe. Now. we're going to do the loading part:

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/top_user_district.csv'
df_top_user_district.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# From the above listdir() we have successfully loaded the top/user district level csv file.

# Now, we're going to perform the ETL for top/insurance state level dataset:

In [ ]:
# Before that we have to find the structure of the json file inside top/insurance/country/india/years/json files:

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/insurance/country/india/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': [{'entityName': 'karnataka',
    'metric': {'type': 'TOTAL', 'count': 95640, 'amount': 130733580.0}},
   {'entityName': 'maharashtra',
    'metric': {'type': 'TOTAL', 'count': 88015, 'amount': 117411928.0}},
   {'entityName': 'tamil nadu',
    'metric': {'type': 'TOTAL', 'count': 47621, 'amount': 64969045.0}},
   {'entityName': 'uttar pradesh',
    'metric': {'type': 'TOTAL', 'count': 45996, 'amount': 73014969.0}},
   {'entityName': 'west bengal',
    'metric': {'type': 'TOTAL', 'count': 38779, 'amount': 51160527.0}},
   {'entityName': 'kerala',
    'metric': {'type': 'TOTAL', 'count': 37110, 'amount': 64172190.0}},
   {'entityName': 'telangana',
    'metric': {'type': 'TOTAL', 'count': 36325, 'amount': 51942016.0}},
   {'entityName': 'andhra pradesh',
    'metric': {'type': 'TOTAL', 'count': 29954, 'amount': 42648157.0}},
   {'entityName': 'delhi',
    'metric': {'type': 'TOTAL', 'count': 28232, 'amount': 35442069.0}},
   {'entityName': 'haryana',
    'metric': {'type': 'TOTAL', 'count': 22783, 'amount': 32526943.0}}],
  'districts': [{'entityName': 'bengaluru urban',
    'metric': {'type': 'TOTAL', 'count': 57549, 'amount': 71700148.0}},
   {'entityName': 'pune',
    'metric': {'type': 'TOTAL', 'count': 17790, 'amount': 24312875.0}},
   {'entityName': 'thane',
    'metric': {'type': 'TOTAL', 'count': 14272, 'amount': 16536659.0}},
   {'entityName': 'mumbai suburban',
    'metric': {'type': 'TOTAL', 'count': 10457, 'amount': 11756037.0}},
   {'entityName': 'chennai',
    'metric': {'type': 'TOTAL', 'count': 9138, 'amount': 9949256.0}},
   {'entityName': 'hyderabad',
    'metric': {'type': 'TOTAL', 'count': 7434, 'amount': 9813417.0}},
   {'entityName': 'medchal malkajgiri',
    'metric': {'type': 'TOTAL', 'count': 7300, 'amount': 10383529.0}},
   {'entityName': 'rangareddy',
    'metric': {'type': 'TOTAL', 'count': 7261, 'amount': 10851640.0}},
   {'entityName': 'kolkata',
    'metric': {'type': 'TOTAL', 'count': 6763, 'amount': 7736401.0}},
   {'entityName': 'gurugram',
    'metric': {'type': 'TOTAL', 'count': 6642, 'amount': 8138262.0}}],
  'pincodes': [{'entityName': '560068',
    'metric': {'type': 'TOTAL', 'count': 2349, 'amount': 2922542.0}},
   {'entityName': '560076',
    'metric': {'type': 'TOTAL', 'count': 1718, 'amount': 2181826.0}},
   {'entityName': '560043',
    'metric': {'type': 'TOTAL', 'count': 1713, 'amount': 2402868.0}},
   {'entityName': '560058',
    'metric': {'type': 'TOTAL', 'count': 1699, 'amount': 1800069.0}},
   {'entityName': '421302',
    'metric': {'type': 'TOTAL', 'count': 1673, 'amount': 1688051.0}},
   {'entityName': '560078',
    'metric': {'type': 'TOTAL', 'count': 1671, 'amount': 1970551.0}},
   {'entityName': '560091',
    'metric': {'type': 'TOTAL', 'count': 1656, 'amount': 2065687.0}},
   {'entityName': '110059',
    'metric': {'type': 'TOTAL', 'count': 1416, 'amount': 1666849.0}},
   {'entityName': '560079',
    'metric': {'type': 'TOTAL', 'count': 1358, 'amount': 1534187.0}},
   {'entityName': '560064',
    'metric': {'type': 'TOTAL', 'count': 1288, 'amount': 1709573.0}}]},
 'responseTimestamp': 1692611157152}

In [ ]:
# Now, we're going to perform ETL based on the above structure to get the top/insurance state wise dataframe:

base_path13 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/insurance/country/india'

records = []

for year in os.listdir(base_path13):
  if not year.isdigit():
    continue

  year_path = os.path.join(base_path13,year)

  for file in os.listdir(year_path):
    if not file.endswith('.json'):
      continue

    quarter = 'Q'+ file.replace('.json', '')

    file_path = os.path.join(year_path,file)

    with open(file_path, 'r') as f:
      data = json.load(f)

    state = data['data'].get('states')

    if not state:
      continue

    for states in state:
      records.append({
          'year' : int(year),
          'quarter' : quarter,
          'state' : states['entityName'],
          'count' : states['metric']['count'],
          'amount' : states['metric']['amount']
      })


df_top_insurance_state = pd.DataFrame(records)
df_top_insurance_state.head()

   year quarter          state   count       amount
0  2022      Q4      karnataka  133971  185063287.0
1  2022      Q4    maharashtra  125900  174915648.0
2  2022      Q4     tamil nadu  125491  146457790.0
3  2022      Q4  uttar pradesh   77022  116755813.0
4  2022      Q4         kerala   65563  103982997.0

In [ ]:
df_top_insurance_state.shape

(190, 5)

In [ ]:
# we got the dataframe, now we have load the dataframe as a csv file.

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/top_insurance_state.csv'
df_top_insurance_state.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# The above listdir() clearly shows that we have successfully loaded the dataframe as a csv file.

# Now, we're at the final part of ETL which is top/insurance district level drill down.

In [ ]:
# Before that lets look at the structure of the json file inside each state file.

sample_path = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/insurance/country/india/state/tamil-nadu/2022/1.json'

with open(sample_path, 'r') as f:
  data = json.load(f)

data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'entityName': 'chennai',
    'metric': {'type': 'TOTAL', 'count': 9138, 'amount': 9949256.0}},
   {'entityName': 'thiruvallur',
    'metric': {'type': 'TOTAL', 'count': 5793, 'amount': 7146597.0}},
   {'entityName': 'coimbatore',
    'metric': {'type': 'TOTAL', 'count': 4682, 'amount': 6798923.0}},
   {'entityName': 'chengalpattu',
    'metric': {'type': 'TOTAL', 'count': 4588, 'amount': 5867983.0}},
   {'entityName': 'kancheepuram',
    'metric': {'type': 'TOTAL', 'count': 3182, 'amount': 3910459.0}},
   {'entityName': 'tiruppur',
    'metric': {'type': 'TOTAL', 'count': 2393, 'amount': 3287882.0}},
   {'entityName': 'madurai',
    'metric': {'type': 'TOTAL', 'count': 1996, 'amount': 2487362.0}},
   {'entityName': 'krishnagiri',
    'metric': {'type': 'TOTAL', 'count': 1582, 'amount': 2435788.0}},
   {'entityName': 'salem',
    'metric': {'type': 'TOTAL', 'count': 1415, 'amount': 2147587.0}},
   {'entityName': 'erode',
    'metric': {'type': 'TOTAL', 'count': 1139, 'amount': 1890815.0}}],
  'pincodes': [{'entityName': '600100',
    'metric': {'type': 'TOTAL', 'count': 528, 'amount': 601074.0}},
   {'entityName': '635109',
    'metric': {'type': 'TOTAL', 'count': 511, 'amount': 722009.0}},
   {'entityName': '600116',
    'metric': {'type': 'TOTAL', 'count': 478, 'amount': 539482.0}},
   {'entityName': '641602',
    'metric': {'type': 'TOTAL', 'count': 475, 'amount': 564081.0}},
   {'entityName': '600042',
    'metric': {'type': 'TOTAL', 'count': 421, 'amount': 427746.0}},
   {'entityName': '600099',
    'metric': {'type': 'TOTAL', 'count': 404, 'amount': 499440.0}},
   {'entityName': '600095',
    'metric': {'type': 'TOTAL', 'count': 384, 'amount': 451542.0}},
   {'entityName': '600056',
    'metric': {'type': 'TOTAL', 'count': 362, 'amount': 462493.0}},
   {'entityName': '600004',
    'metric': {'type': 'TOTAL', 'count': 360, 'amount': 410225.0}},
   {'entityName': '635126',
    'metric': {'type': 'TOTAL', 'count': 359, 'amount': 389526.0}}]},
 'responseTimestamp': 1692611157972}

In [ ]:
# Lets perform the ETL for top/insurance district level dataset.

base_path14 = '/content/drive/MyDrive/PhonePe_Business_analysis/pulse/data/top/insurance/country/india/state'

records = []

for states in os.listdir(base_path14):
  state_path = os.path.join(base_path14, states)

  if not os.path.isdir(state_path):
    continue

  for year in os.listdir(state_path):
    if not year.isdigit():
      continue

    year_path = os.path.join(state_path,year)

    for file in os.listdir(year_path):
      if not file.endswith('.json'):
        continue

      quarter = 'Q'+ file.replace('.json', '')

      file_path = os.path.join(year_path,file)

      with open(file_path, 'r') as f:
        data = json.load(f)

      district = data['data'].get('districts')

      if not district:
        continue

      for districts in district:
        records.append({
            'year' : int(year),
            'quarter' : quarter,
            'state' : states.replace('-', ' '),
            'district' : districts['entityName'],
            'count' : districts['metric']['count'],
            'amount' : districts['metric']['amount']
        })


df_top_insurance_district = pd.DataFrame(records)
df_top_insurance_district.head()

   year quarter        state                    district  count      amount
0  2022      Q4  west bengal  north twenty four parganas  10071  13297497.0
1  2022      Q4  west bengal                     kolkata   9215  10683722.0
2  2022      Q4  west bengal                      howrah   3875   4827100.0
3  2022      Q4  west bengal  south twenty four parganas   3847   4752290.0
4  2022      Q4  west bengal           paschim medinipur   3569   4249681.0

In [ ]:
df_top_insurance_district.shape

(5608, 6)

In [ ]:
# Now, we got the dataframe. Lets load the dataframe into the csv file.

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/top_insurance_district.csv'
df_top_insurance_district.to_csv(csv_path, index = False)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# From the above we conclude that the Extraction, Transformation and Loading(ETL) part is over.

In [ ]:
# Data cleaning and standardization:

# Now, we're going to define a function to clean the created dataframe:

def clean_phonepe_data(df):

  # first, standardize column names:
  df.columns = df.columns.str.lower()

  # Now, clean the state names:

  if 'state' in df.columns:
    df['state'] = (
        df['state']
        .str.replace('-', '', regex = False)
        .str.strip()
        .str.title()
    )

  # Now, clean the district names:

  if 'district' in df.columns:
    df['district'] = (
        df['district']
        .str.replace(' district', '', regex = False)
        .str.strip()
        .str.title()
    )

  # Then, we have to ensure the numeric columns for sql practicing:

  numeric_columns = ['count', 'amount', 'registeredusers']

  for column in numeric_columns:
    if column in df.columns:
      df[column] = pd.to_numeric(df[column], errors = 'coerce')


  return df

In [ ]:
# First, get the file names to get an idea about cleaning using dataframe names:

os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# Now apply the above functions to all the dataframes for cleaning:

df_aggregated_transaction = clean_phonepe_data(df_aggregated_transaction)
df_aggregated_user = clean_phonepe_data(df_aggregated_user)
df_user_device = clean_phonepe_data(df_user_device)
df_aggregated_insurance = clean_phonepe_data(df_aggregated_insurance)
df_map_transaction_state = clean_phonepe_data(df_map_transaction_state)
df_map_transaction_district = clean_phonepe_data(df_map_transaction_district)
df_map_user_state = clean_phonepe_data(df_map_user_state)
df_map_user_district = clean_phonepe_data(df_map_user_district)
df_map_insurance_state = clean_phonepe_data(df_map_insurance_state)
df_map_insurance_district = clean_phonepe_data(df_map_insurance_district)
df_top_transaction_state = clean_phonepe_data(df_top_transaction_state)
df_top_transaction_district = clean_phonepe_data(df_top_transaction_district)
df_top_user_state = clean_phonepe_data(df_top_user_state)
df_top_user_district = clean_phonepe_data(df_top_user_district)
df_top_insurance_state = clean_phonepe_data(df_top_insurance_state)
df_top_insurance_district = clean_phonepe_data(df_top_insurance_district)

In [ ]:
# Lets verify if the above function performs fine:

df_top_user_state.dtypes

year                int64
quarter            object
state              object
registeredusers     int64
dtype: object

In [ ]:
# We have successfully cleaned and standardized the dataframe.

# Now, our main goal is to save the cleaned dataframe as csv file.

os.makedirs('/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data', exist_ok = True)

In [ ]:
os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis')

['pulse',
 'cleaned_data',
 'aggregated_transaction.csv',
 'aggregated_user.csv',
 'user_device.csv',
 'aggregated_insurance.csv',
 'map_transaction_state.csv',
 'map_user_state.csv',
 'map_transaction_district.csv',
 'map_insurance_state.csv',
 'map_user_district.csv',
 'top_transaction_state.csv',
 'map_insurance_district.csv',
 'top_user_state.csv',
 'top_transaction_district.csv',
 'top_insurance_state.csv',
 'top_user_district.csv',
 'top_insurance_district.csv']

In [ ]:
# Now, we have make the cleaned dataframe as a csv file and store it into the cleaned_data folder:

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/aggregated_transaction.csv'
df_aggregated_transaction.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/aggregated_user.csv'
df_aggregated_user.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/user_device.csv'
df_user_device.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/aggregated_insurance.csv'
df_aggregated_insurance.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/map_transaction_state.csv'
df_map_transaction_state.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/map_transaction_district.csv'
df_map_transaction_district.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/map_user_state.csv'
df_map_user_state.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/map_user_district.csv'
df_map_user_district.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/map_insurance_state.csv'
df_map_insurance_state.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/map_insurance_district.csv'
df_map_insurance_district.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/top_transaction_state.csv'
df_top_transaction_state.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/top_transaction_district.csv'
df_top_transaction_district.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/top_user_state.csv'
df_top_user_state.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/top_user_district.csv'
df_top_user_district.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/top_insurance_state.csv'
df_top_insurance_state.to_csv(csv_path, index = False)

csv_path = '/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data/top_insurance_district.csv'
df_top_insurance_district.to_csv(csv_path, index = False)

In [ ]:
# We have successfully saved the cleaned csv file into cleaned_data folder:

os.listdir('/content/drive/MyDrive/PhonePe_Business_analysis/cleaned_data')

['map_user_district.csv',
 'aggregated_user.csv',
 'aggregated_transaction.csv',
 'user_device.csv',
 'map_transaction_state.csv',
 'map_insurance_state.csv',
 'map_transaction_district.csv',
 'aggregated_insurance.csv',
 'map_user_state.csv',
 'map_insurance_district.csv',
 'top_transaction_state.csv',
 'top_transaction_district.csv',
 'top_user_state.csv',
 'top_insurance_state.csv',
 'top_insurance_district.csv',
 'top_user_district.csv']

In [ ]:
df_aggregated_transaction.head()

,year,quarter,transaction_category,transaction_count,transaction_amount
0,2024,Q4,Merchant payments,17419191808,8.081430e+12
1,2024,Q4,Peer-to-peer payments,9368204284,2.663387e+13
2,2024,Q4,Recharge & bill payments,1392529171,1.255973e+12
3,2024,Q4,Financial Services,32113340,1.816233e+10
4,2024,Q4,Others,7217236,9.369386e+09

In [ ]:
df_aggregated_transaction.dtypes

year                      int64
quarter                  object
transaction_category     object
transaction_count         int64
transaction_amount      float64
dtype: object

In [ ]:
df_aggregated_user.head()

   year quarter  registeredusers     appopens
0  2024      Q2        550287982  35407900260
1  2024      Q3        568010051  38129751823
2  2024      Q4        586756452  40416377679
3  2024      Q1        530084540  32626239822
4  2022      Q1        372951831  15724195113

In [ ]:
df_aggregated_user.dtypes

year                int64
quarter            object
registeredusers     int64
appopens            int64
dtype: object

In [ ]:
df_aggregated_insurance.head()

   year quarter   category   count       amount
0  2020      Q3  Insurance  354284   89495076.0
1  2020      Q2  Insurance  185348   33732166.0
2  2020      Q4  Insurance  248626  170979933.0
3  2021      Q4  Insurance  526327  655431877.0
4  2021      Q1  Insurance  318119  206307024.0

In [ ]:
df_aggregated_insurance.dtypes

year          int64
quarter      object
category     object
count         int64
amount      float64
dtype: object

In [ ]:
df_user_device.head()

   year quarter    brand     count  percentage
0  2022      Q1   Xiaomi  88426997    0.237100
1  2022      Q1     Vivo  77224616    0.207063
2  2022      Q1  Samsung  65886728    0.176663
3  2022      Q1     Oppo  49093857    0.131636
4  2022      Q1   Realme  32685615    0.087640

In [ ]:
df_user_device.dtypes

year            int64
quarter        object
brand          object
count           int64
percentage    float64
dtype: object

In [ ]:
df_map_transaction_state.head()

   year quarter           state       count        amount
0  2024      Q3      Puducherry    16008711  1.953500e+10
1  2024      Q3      Tamil Nadu   778536701  1.050780e+12
2  2024      Q3   Uttar Pradesh  2285955833  2.717475e+12
3  2024      Q3  Madhya Pradesh  1537738457  1.761082e+12
4  2024      Q3  Andhra Pradesh  2091371362  3.226646e+12

In [ ]:
df_map_transaction_state.dtypes

year         int64
quarter     object
state       object
count        int64
amount     float64
dtype: object

In [ ]:
df_map_transaction_district.head()

   year quarter       state         district     count        amount
0  2024      Q3  Tamil Nadu  Tiruchirappalli  16821080  2.673583e+10
1  2024      Q3  Tamil Nadu   Ramanathapuram   5628706  1.010751e+10
2  2024      Q3  Tamil Nadu      Krishnagiri  52506928  7.330148e+10
3  2024      Q3  Tamil Nadu        Cuddalore  12570583  1.894084e+10
4  2024      Q3  Tamil Nadu     Kancheepuram  23328353  2.401182e+10

In [ ]:
df_map_transaction_district.dtypes

year          int64
quarter      object
state        object
district     object
count         int64
amount      float64
dtype: object

In [ ]:
df_map_user_state.head()

   year quarter           state  registeredusers    appopens
0  2024      Q2      Puducherry           655486     2882669
1  2024      Q2      Tamil Nadu         31818880  1071832085
2  2024      Q2   Uttar Pradesh         58199149  3406733148
3  2024      Q2  Madhya Pradesh         29324466  4877924433
4  2024      Q2  Andhra Pradesh         35303719  1061281082

In [ ]:
df_map_user_state.dtypes

year                int64
quarter            object
state              object
registeredusers     int64
appopens            int64
dtype: object

In [ ]:
df_map_user_district.head()

,year,quarter,state,district,registeredusers,appopens
0,2024,Q2,West Bengal,South Twenty Four Parganas,2333257,48907886
1,2024,Q2,West Bengal,Purba Bardhaman,1432719,27344799
2,2024,Q2,West Bengal,Uttar Dinajpur,745909,30106105
3,2024,Q2,West Bengal,Kalimpong,68216,10811201
4,2024,Q2,West Bengal,Murshidabad,2271497,39476726

In [ ]:
df_map_user_district.dtypes

year                int64
quarter            object
state              object
district           object
registeredusers     int64
appopens            int64
dtype: object

In [ ]:
df_map_insurance_state.head()

   year quarter           state   count       amount
0  2024      Q3      Puducherry    2600    3968523.0
1  2024      Q3      Tamil Nadu  116867  162128271.0
2  2024      Q3   Uttar Pradesh   92930  157303596.0
3  2024      Q3  Madhya Pradesh   43248   77995668.0
4  2024      Q3  Andhra Pradesh   48014   73915199.0

In [ ]:
df_map_insurance_state.dtypes

year         int64
quarter     object
state       object
count        int64
amount     float64
dtype: object

In [ ]:
df_map_insurance_district.head()

   year quarter        state                    district  count    amount
0  2020      Q3  West Bengal  South Twenty Four Parganas    774  175635.0
1  2020      Q3  West Bengal             Purba Bardhaman    436   91707.0
2  2020      Q3  West Bengal              Uttar Dinajpur    179   29463.0
3  2020      Q3  West Bengal                   Kalimpong     12    4338.0
4  2020      Q3  West Bengal                 Murshidabad    458   86182.0

In [ ]:
df_map_insurance_district.dtypes

year          int64
quarter      object
state        object
district     object
count         int64
amount      float64
dtype: object

In [ ]:
df_top_transaction_state.head()

   year quarter           state       count        amount
0  2023      Q4     Maharashtra  2572162725  3.098015e+12
1  2023      Q4       Karnataka  2564434164  3.241376e+12
2  2023      Q4       Telangana  2020822178  3.116417e+12
3  2023      Q4  Andhra Pradesh  1596987426  2.802515e+12
4  2023      Q4   Uttar Pradesh  1566705382  2.257441e+12

In [ ]:
df_top_transaction_state.dtypes

year         int64
quarter     object
state       object
count        int64
amount     float64
dtype: object

In [ ]:
df_top_transaction_district.head()

,year,quarter,state,district,count,amount
0,2024,Q1,West Bengal,North Twenty Four Parganas,139181072,2.030766e+11
1,2024,Q1,West Bengal,Kolkata,93663346,1.505557e+11
2,2024,Q1,West Bengal,Murshidabad,62785121,1.306451e+11
3,2024,Q1,West Bengal,South Twenty Four Parganas,53004493,9.904291e+10
4,2024,Q1,West Bengal,Purba Medinipur,46212626,9.237355e+10

In [ ]:
df_top_transaction_district.dtypes

year          int64
quarter      object
state        object
district     object
count         int64
amount      float64
dtype: object

In [ ]:
df_top_user_state.head()

   year quarter          state  registeredusers
0  2024      Q4    Maharashtra         71807805
1  2024      Q4  Uttar Pradesh         70474113
2  2024      Q4      Karnataka         45917653
3  2024      Q4      Rajasthan         36828375
4  2024      Q4    West Bengal         34750181

In [ ]:
df_top_user_state.dtypes

year                int64
quarter            object
state              object
registeredusers     int64
dtype: object

In [ ]:
df_top_user_district.head()

   year quarter        state                    district  registeredusers
0  2020      Q4  West Bengal  North Twenty Four Parganas          2321888
1  2020      Q4  West Bengal                     Kolkata          1700474
2  2020      Q4  West Bengal  South Twenty Four Parganas          1118649
3  2020      Q4  West Bengal                 Murshidabad          1085899
4  2020      Q4  West Bengal                     Hooghly           977339

In [ ]:
df_top_user_district.dtypes

year                int64
quarter            object
state              object
district           object
registeredusers     int64
dtype: object

In [ ]:
df_top_insurance_state.head()

   year quarter          state   count       amount
0  2022      Q4      Karnataka  133971  185063287.0
1  2022      Q4    Maharashtra  125900  174915648.0
2  2022      Q4     Tamil Nadu  125491  146457790.0
3  2022      Q4  Uttar Pradesh   77022  116755813.0
4  2022      Q4         Kerala   65563  103982997.0

In [ ]:
df_top_insurance_state.dtypes

year         int64
quarter     object
state       object
count        int64
amount     float64
dtype: object

In [ ]:
df_top_insurance_district.head()

   year quarter        state                    district  count      amount
0  2022      Q4  West Bengal  North Twenty Four Parganas  10071  13297497.0
1  2022      Q4  West Bengal                     Kolkata   9215  10683722.0
2  2022      Q4  West Bengal                      Howrah   3875   4827100.0
3  2022      Q4  West Bengal  South Twenty Four Parganas   3847   4752290.0
4  2022      Q4  West Bengal           Paschim Medinipur   3569   4249681.0

In [ ]:
df_top_insurance_district.dtypes

year          int64
quarter      object
state        object
district     object
count         int64
amount      float64
dtype: object

In [ ]:
# The above .head() and dtypes are used to verify the table structure and datatypes of the each column in the cleaned dataframes for creating SQL tables.

In [ ]:
# From the above Phase 1 ETL has been done.

In [ ]:
# Now, we're entering into phase-I:

# Phase-II MySQL connection, to connect the cleaned csv files with the created sql tables, data insertion which is load_csv_to_mysql:

In [ ]:
# Now, we have to install the mysql-connector-python:

!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
    34.1/34.1 MB 56.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0